<!DOCTYPE html>
<html>
    <head>
        <title>Furniture Configurator</title>
        <link rel="stylesheet" href="../styles/authentification.css"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Furniture Configurator</h1>
        <form id="loginForm" class="visible" action="/login" method="POST">
            <input id="loginUser" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required title="wrong e-mail format" placeholder="Email" name="email"/>
            <input id="loginPassword" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                   required title="At least 8 chars with at least one number, one uppercase and one lowercase character"
                   placeholder="Password" name="password"/>
            <div class="buttonContainer">
                <button id="loginSubmit" type="submit">Login</button>
                <button id="register" type="reset">Register</button>
            </div>
        </form>
        <form id="registryForm" class="invisible" action="/register" method="POST">
            <input id="registryUser" type="text" pattern=".{5,20}" required title="username has to be between 5 to 20 characters" placeholder="Username" name="username"/>
            <input id="registryEmail" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required title="wrong e-mail format" placeholder="Email" name="email"/>
            <input id="registryPassword" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                   required title="At least 8 chars with at least one number, one uppercase and one lowercase character"
                   placeholder="Password" name="password"/>
            <div class="buttonContainer">
                <button id="registrySubmit" type="submit">Register</button>
                <button id="login" type="reset">Login</button>
            </div>
        </form>
        <div id="msg">
            <%- msg %>
        </div>
        <div id="animationContainer"></div>
        <script type="text/javascript" src="../JS/authentification.js"></script>
    </body>
</html>