<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Three.JS Test</title>
    <link rel="stylesheet" href="../../styles/test.css">
</head>
<body>
<div class="controlPanel">
    <%-include("./templates/translationPanel.ejs")%>
    <%-include("./templates/rotationPanel.ejs")%>
    <%-include("./templates/scalePanel.ejs")%>
    <%-include("./templates/materialPanel.ejs")%>
</div>
<script src="three.js-master/build/three.js"></script>
<script type="module" src="../../JS/Test.js"></script>
</body>
</html>