<div class="controlSection">
    <label class="materials">
        Materials
        <input class="selection"  readonly="readonly" style="background-image: url('Assets/textures/leatherbrown.jpg');" name="Assets/textures/leatherbrown.jpg">
        <input class="selection"  readonly="readonly" style="background-image: url('Assets/textures/yellowleather.jpg');" name="Assets/textures/yellowleather.jpg">
        <input class="selection"  readonly="readonly" style="background-image: url('Assets/textures/cotton.jpg');" name="Assets/textures/cotton.jpg">
        <input class="selection"  readonly="readonly" style="background-image: url('Assets/LeatherChair/textures/chair_baseColor.jpeg');" name="Assets/LeatherChair/textures/chair_baseColor.jpeg">
    </label>
    <label class="colors">
        Colors
        <input class="selection"  readonly="readonly"  style="background-color: #0000cc" name="blue">
        <input class="selection"  readonly="readonly" style="background-color: red" name="red">
        <input class="selection"  readonly="readonly" style="background-color: green" name="green">
        <input class="selection"  readonly="readonly" style="background-color: yellow" name="yellow">
        <input class="selection"  readonly="readonly" style="background-color: white" name="default">
    </label>
</div>