<div class="controlSection">
    <label>
        X-Rotation
        <input id="xRotation" type="range" min="-360" max="360" value="0">
        <input type="text" id="xOutputRotation" value="0">
    </label>
    <label>
        Y-Rotation
        <input id="yRotation" type="range" min="-360" max="360" value="0">
        <input type="text" id="yOutputRotation" value="0">
    </label>
    <label>
        Z-Rotation
        <input id="zRotation" type="range" min="-360" max="360" value="0">
        <input type="text" id="zOutputRotation" value="0">
    </label>
</div>