<div class="controlSection">
    <label>
        X-Scale
        <input id="xScale" type="range" min="1" max="5" value="1">
        <input type="text" id="xOutputScale" value="1">
    </label>
    <label>
        Y-Scale
        <input id="yScale" type="range" min="1" max="5" value="1">
        <input type="text" id="yOutputScale" value="1">
    </label>
    <label>
        Z-Scale
        <input id="zScale" type="range" min="1" max="5" value="1">
        <input type="text" id="zOutputScale" value="1">
    </label>
</div>