<div class="controlSection">
    <label>
        Width
        <input id="xScale" type="range" min="1" max="5" value="1">
        <input type="text" id="xOutputScale" value="1">
    </label>
    <label>
        Height
        <input id="yScale" type="range" min="1" max="5" value="1">
        <input type="text" id="yOutputScale" value="1">
    </label>
    <label>
        Depth
        <input id="zScale" type="range" min="1" max="5" value="1">
        <input type="text" id="zOutputScale" value="1">
    </label>
    <label>
        Shelfamount
        <input id="regalAnzahl" type="range" min="1" max="5" value="1">
        <input type="text" id="regalOutput" value="1">
    </label>
</div>