<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div class="controlSection" th:fragment="translationPanel">
        <label>
            X-Translation
            <input id="xTranslation" type="range" min="-30" max="30" value="0">
            <input type="text" id="xOutput" value="0">
        </label>
        <label>
            Y-Translation
            <input id="yTranslation" type="range" min="-40" max="40" value="0">
            <input type="text" id="yOutput" value="0">
        </label>
        <label>
            Z-Translation
            <input id="zTranslation" type="range" min="-30" max="30" value="0">
            <input type="text"  id="zOutput" value="0">
        </label>
    </div>
</html>